<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>{% block title %}{% endblock %} - Issues</title>
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen"/>
</head>
<body>
<div id="hd">
    <h1>Issue Tracker</h1>
</div>
<div id="mn">
    <ul>
        <li><a href="{% url 'issue-list' %}" class="sel">View Issues</a></li>
        <li><a href="/admin/">Admin Site</a></li>
    </ul>
</div>
<div id="bd">
    {% block content %}{% endblock %}
</div>
</body>
</html>
