{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue List</title>
    <link rel="stylesheet" href="{% static 'issuelist/style.css' %}">
</head>
<body>

<div class="admin-login">
    <a href="/admin/">Admin Login</a>
</div>

<h1>Issue List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Issue</th>
            <th>Description</th>
            <th>Status</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <td>{{ issue.id }}</td>
            <td>{{ issue.summary }}</td>
            <td>{{ issue.get_status_display }}</td>
            <td>{{ issue.owner }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
