<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Issue Tracker - Issues</title>
    <link rel="stylesheet" href="{% static 'issuelist/style.css' %}" type="text/css" media="screen"/>
</head>
<body>
<div id="hd">
    <h1>Issue Tracker</h1>
</div>
<div id="mn">
    <ul>
        <li><a href="{% url 'home' %}" class="sel">View Issues</a></li>
        <li><a href="/admin/">Admin Site</a></li>
    </ul>
</div>
<div id="bd">
    <table>
        <tr>
            <th>Issue ID</th>
            <th>Description</th>
            <th>Status</th>
            <th>Owner</th>
        </tr>
        {% for issue in issues %}
        <tr>
            <td><a href="{% url 'issue-detail' issue.id %}">{{ issue.id }}</a></td>
            <td>{{ issue.summary }}</td>
            <td>{{ issue.get_status_display }}</td>
            <td>{{ issue.owner }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
